@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #29292c;
}
.card{
  display: flex;
  gap: 10px;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.card:hover{
  transform: scale(1.02);
  text-shadow:
  0 0 30px rgb(0, 238, 255),
  0 0 35px rgb(0, 238, 255),
  0 0 40px rgb(0, 238, 255);
}
.navigation{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.navigation>h2{
  margin-left: 30px;
}